<html>
<head>
	<style>
		.image{
			border-radius: 20px;
		}

		body{
			background-image: url(https://th.bing.com/th/id/OIP.hr2pOKWSLRVuE-KxVwNxGwHaNL?w=187&h=333&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<title>ENTERTAINMENTs</title>
	<a href="http://localhost:3000/youtube" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.6pU8uFcgLAtKGUH2TK3ItQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="100px" height="150px" width="150px">
</a>
<a href="http://localhost:3000/netflix" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.4f6hFvkPBtE44ZLhWWeiDgHaEK?w=322&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px">

</a>
<a href="http://localhost:3000/aha" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.Cnpkq-B3OATjmbQ56TdEXgHaEY?w=283&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px"><br>
</a>
<a href="http://localhost:3000/prime" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.DEQVl66h5X8j7TDHvaevMQHaE8?w=263&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="http://localhost:3000/zee" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.5IDaUsm0YwDPkL2KMv7FbAHaEA?w=265&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="http://localhost:3000/disney" vspace="50px" hspace="125px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.jnA8KAIwVZphcNdGNzSIggHaE7?w=212&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>


</head>
</html>