<html>
<head>
	<style>
		.image{
			border-radius: 20px;
		}

		body{
			background-image: url(https://th.bing.com/th/id/OIP.hr2pOKWSLRVuE-KxVwNxGwHaNL?w=187&h=333&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<title>ENTERTAINMENT</title>
	<a href="https://www.swiggy.com/" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.JfzklOG0k5kotaQXWzN-OQHaHa?w=163&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="100px" height="150px" width="150px">
</a>
<a href="https://www.zomato.com/">
	<img class="image" src="https://th.bing.com/th/id/OIP.l-RdcBduHDe8XZ_2CRPt1wHaFP?w=204&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px">

</a>
<a href="https://mcdonaldsindia.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.xxD4QZq2My8CnpmB3wtqBwHaHP?w=175&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px"><br>
</a>
<a href="https://www.pizzahut.co.in/?utm_source=bing&utm_medium=cpc&utm_campaign=iP_Sapphire_Search_PR_Brand_Exact&utm_content=Brand&msclkid=757c7d4ebb531d60ff2b1ec76f11dd8a" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.f9tp9QKRv3UcDEMYiODEVAHaEK?w=289&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://pizzaonline.dominos.co.in/?src=sem_bing_brand&utm_source=bing&utm_medium=cpc&msclkid=e75bb90ed52c1a0e4886da8701ddac2b&utm_campaign=Brand%20-%20Pan%20India%20-%20Desktop%20-%20Exact%20-%202016%20-%20%5BS%5D&utm_term=domino%20pizza&utm_content=Pizza" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.LKsIg6tky7nUeaJVaHch7gHaE7?w=238&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://www.foodpanda.com/" vspace="50px" hspace="125px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.1yfN1i8fJHuYqI2Jae9HQgHaDc?w=322&h=162&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>


</head>
</html>