<html>
<head>
	<title>ENTERTAINMENT</title>
	<style>
		.image{
			border-radius: 20px;
		}
		body{
			background-image: url(https://th.bing.com/th/id/OIP.k0aecPpMki5lnifd7N3MHAHaHa?w=178&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<a href="http://localhost:3000/enter" target="_blank">
	<img class="image" src="https://www.bing.com/th?id=OIP.lE1kui-11ykhr3c9FWB3-AHaEK&w=175&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" hspace="230px" vspace="50px" height="200px" width="200px">
</a>
<a href="http://localhost:3000/shop" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.oonFRqogsTLr7KmKi9tgIQHaEK?w=325&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="50px" hspace="75px" height="200px" width="200px">
</a>
<a href="http://localhost:3000/learning" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.OxkSNSKdfDB6qoeD5C5QoQHaEc?w=303&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7" hspace="230px" vspace="50px" height="200px" width="200px">
</a>
<a href="http://localhost:3000/music" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.679blhCjkcLHbU100XBRpQHaEo?w=302&h=187&c=7&r=0&o=5&dpr=1.5&pid=1.7" height="200px" width="200px" vspace="50px" hspace="75px">
</a>
<a href="http://localhost:3000/food" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.y2GANZ7D8tiMGp-_a10XfgHaE8?w=283&h=189&c=7&r=0&o=5&dpr=1.5&pid=1.7" height="200px" width="200px" hspace="475px" vspace="25px">
</a>
</head>
</html>