<html>
<head>
	<style>
		.image{
			border-radius: 20px;
		}

		body{
			background-image: url(https://th.bing.com/th/id/OIP.hr2pOKWSLRVuE-KxVwNxGwHaNL?w=187&h=333&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<title>ENTERTAINMENT</title>
	<a href="https://byjus.com/" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.XqcSpDZywTn38RWQeEiaYQHaHa?w=157&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="100px" height="150px" width="150px">
</a>
<a href="https://www.bing.com/aclk?ld=e8IlBpn5VprOwjpk2_3yBkyTVUCUxa6chK-sqGikW1i8NIPdTCayJaXYRyGv1EvaQ_eeO0uKC-dAQK3mEGyHyqYVDSkD0cDKv5ryo3rEv203QVooJlBgcTD4wdRMllOJEOrITf1iKpntM7YGXIqdibQ1GeahFlrHiYtf1vN_By5u43G78skp1F9PscNU6AXaZ6tlxmPg&u=aHR0cHMlM2ElMmYlMmZ3d3cudWRlbXkuY29tJTNmdXRtX3NvdXJjZSUzZGJpbmctYnJhbmQlMjZ1dG1fbWVkaXVtJTNkdWRlbXlhZHMlMjZ1dG1fY2FtcGFpZ24lM2RCRy1CcmFuZC1VZGVteV9sYS5FTl9jYy5JTkRJQSUyNnV0bV90ZXJtJTNkXy5fYWdfMTIxMzg2MTI0OTk3MzgzMF8uX2FkX18uX2RlX2NfLl9kbV9fLl9wbF9fLl90aV9rd2QtNzU4NjY2Mzk5Nzk4NzIlM2Fsb2MtOTBfLl9saV8xNTU2NTZfLl9wZF9fLl8lMjZ1dG1fdGVybSUzZF8uX3BkX18uX2t3X3VkZW15JTI1MjBsb2dpbl8uXyUyNm1hdGNodHlwZSUzZGUlMjZtc2Nsa2lkJTNkZGE2YjcyZTVhM2Y0MTZkMTc0ZTUxMTZjNmU0YzQyY2E&rlid=da6b72e5a3f416d174e5116c6e4c42ca&ntb=1" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.qqlbWgyHTncSly2AbTxQHAHaD4?w=313&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px">

</a>
<a href="https://www.bing.com/aclk?ld=e8GUKwgHBOBUU44_9Qti_L_jVUCUyG_udExyGrpw_YcmMys18Gaw7fUVGVJxHNc5Xs8G3tiJApUnyvzK6M_1pMNZ3k1O2FyHP7giw8wJofSAgoWO8kpcY9phYo5kvwTbhf2p1D849bs0ad0O76CT7tc7EXfRomFCTm62DiDHOptr5M_euNwulaJ20sqxQQItwhzV3OfA&u=aHR0cHMlM2ElMmYlMmZ3d3cuY291cnNlcmEub3JnJTJmY291cnNlcmFwbHVzJTNmdXRtX3NvdXJjZSUzZGJnJTI2dXRtX21lZGl1bSUzZHNlbSUyNnV0bV9jYW1wYWlnbiUzZEIyQ19JTkRJQV9zdWJzY3JpYmVfX0ZUQ09GX2NvdXJzZXJhcGx1c19hcnRlX2JpbmclMjZ1dG1fY29udGVudCUzZEIyQ19JTkRJQV9zdWJzY3JpYmVfX0ZUQ09GX2NvdXJzZXJhcGx1c19hcnRlX2JpbmclMjZjYW1wYWlnbmlkJTNkNDI2MTE1NjU2JTI2YWRncm91cGlkJTNkMTIwOTQ2MzI3ODY2NDExNCUyNmRldmljZSUzZGMlMjZrZXl3b3JkJTNkY291cnNlcmElMjUyMGxvZ2luJTI2bWF0Y2h0eXBlJTNkZSUyNm5ldHdvcmslM2RvJTI2ZGV2aWNlbW9kZWwlM2QlMjZhZHBvc3Rpb24lM2QlMjZjcmVhdGl2ZWlkJTNkJTI2aGlkZV9tb2JpbGVfcHJvbW8lMjZtc2Nsa2lkJTNkNDU5MmE0YzJkMDY0MWVkYWRiMWVjNzRiMWQ4MjQxNGIlMjZ1dG1fdGVybSUzZGNvdXJzZXJhJTI1MjBsb2dpbg&rlid=4592a4c2d0641edadb1ec74b1d82414b&ntb=1" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.OVL0G9QQsPmzPDJC3BfM2gHaHa?w=158&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px"><br>
</a>
<a href="https://unacademy.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.yPdBYK5MOs7LBjq5PR6-gQHaEK?w=302&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://join.skillshare.com/learn/?coupon=BINGEN30DAYSFREE&utm_source=Bing&utm_medium=paidsearch&utm_campaign=ROW_Brand&utm_term=skillshare&matchtype=e&msclkid=7e8b9d90328213d2f08ffe19fcab26ab" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.eA2PC8T3EqU44Hv4Sl5DSgHaHa?w=166&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://brainly.in/" vspace="50px" hspace="125px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.KI00DJhzcrKReIG-oyDh_gHaHa?w=160&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>


</head>
</html>