<html>
<head>
	<style>
		.image{
			border-radius: 20px;
		}

		body{
			background-image: url(https://th.bing.com/th/id/OIP.hr2pOKWSLRVuE-KxVwNxGwHaNL?w=187&h=333&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<title>ENTERTAINMENT</title>
	<a href="https://wynk.in/music" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.Fpl9ncBMc5yTvaCls0STLgHaEJ?w=265&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="100px" height="150px" width="150px">
</a>
<a href="https://open.spotify.com/" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.ADu4XVRPmB4EZrSkpsWi7gHaE8?w=275&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px">

</a>
<a href="https://gaana.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.bN4chrEX6IRMuBCOI2CRsQHaHa?w=161&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px"><br>
</a>
<a href="https://www.jiosaavn.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.c8VQC6qCsbkXcHxHxCUzOAHaEL?w=288&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://music.youtube.com/browse/FEmusic_language_selection" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.MRJpy2iafRmftzoZbC1pUgHaEK?w=322&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://www.hungama.com/" vspace="50px" hspace="125px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.pTabFnfUAj5PRGnoKLg9JQAAAA?w=163&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>


</head>
</html>