<html>
<head>
	<style>
		.image{
			border-radius: 20px;
		}

		body{
			background-image: url(https://th.bing.com/th/id/OIP.hr2pOKWSLRVuE-KxVwNxGwHaNL?w=187&h=333&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	<title>ENTERTAINMENT</title>
	<a href="https://www.amazon.in/?tag=msndeskabkin-21&hvadid=72705384516477&hvqmt=e&hvbmt=be&hvdev=c&ref=pd_sl_7qhce485bd_e" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.wYMKwQbhe1jFBCYQDWOhvQHaEK?w=287&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="100px" height="150px" width="150px">
</a>
<a href="https://www.myntra.com/?utm_source=dms_bing&utm_medium=bing_cpc&utm_campaign=Bing_Brand_Exact_Desktop&utm_source=bing&msclkid=fe04e93bdac51dd452998ab216da7794&utm_term=myntra%20online%20shopping&utm_content=Myntra_Shopping" target="_blank">
	<img class="image" src="https://th.bing.com/th/id/OIP.LxU-aU3MdAoL4ou73KdedwHaFJ?w=251&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px">

</a>
<a href="https://www.flipkart.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.bOry8Od50msHwPc5t56utwHaE7?w=221&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="75px" hspace="125px" height="150px" width="150px"><br>
</a>
<a href="https://www.ajio.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.K9IrIy11-CAp9-9wFn48VAHaDt?w=348&h=174&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://in.urbanic.com/" hspace="200px" vspace="50px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th/id/OIP.KV44f3wCgt2dbitZpCtFegAAAA?w=236&h=94&c=7&r=0&o=5&dpr=1.5&pid=1.7" vspace="100px" hspace="120px" height="150px" width="150px">
</a>
<a href="https://www.tatacliq.com/" vspace="50px" hspace="125px" height="150px" width="150px">
	<img class="image" src="https://th.bing.com/th?q=Tata+CliQ+Luxury&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247" vspace="100px" hspace="120px" height="150px" width="150px">
</a>


</head>
</html>