<html>
<style>
	
	pre{
			font-size: 40px;
			font-style: shreif;
		}
	body{
			background-image: url(https://th.bing.com/th/id/OIP.QjdxFJe5G2qYbvis8oLZAQHaEo?w=302&h=187&c=7&r=0&o=5&dpr=1.5&pid=1.7);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
</style>
<head>
	<pre>
GAMING                              

<a href="https://www.youtube.com/@TotalGaming093">FREE FIRE</a>                                                     
<a href="https://www.youtube.com/@JONATHANGAMINGYT">PUBG</a>                               
<a href="https://www.youtube.com/@TechnoGamerzOfficial">CALL OF DUTY</a>		
	</pre>

<h1>
</a>
</head>
</html>