<html>
<head>
	<title>YOUTUBE</title>
	<style>
		h1 {

			text-align: center;
			font-size: 50px;
			
		}
		body{
			background-image: url(https://th.bing.com/th?q=Old+Movie+Background&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	</style>
	</style>

	

<h1>
<a href="http://localhost:3000/youmusic" target="_blank"> MUSIC</a><br><br>
<a href="http://localhost:3000/youmovies" target="_blank">MOVIES</a><br><br>

<a href="http://localhost:3000/youvlogs" target="_blank"> VLOGS</a><br><br>

<a href="http://localhost:3000/yougame" target="_blank">GAMING</a><br><br>
<a href="http://localhost:3000/yousport" target="_blank">SPORTS</a><br><br>

<a href="http://localhost:3000/younews" target="_blank">NEWS</a><br><br>



</h1>


</head>
</html>